<!-- https://web.dev/promote-install/ -->
            <button class="install-offline hidden">Install siden til offline brug (11 MB)</button>
            
            <div class="alert">
                <div id="the-alert">
                    <h2>The email has been copied to your clipboard</h2>
                </div>
            </div>

            <footer id="footer">
                <ul>
                    <li><a href="https://www.linkedin.com/in/inga-helgadottir-684b39149/">Linkedin <i class="fab fa-linkedin"></i></a></li>
                    <li id="copy-try"><a href="mailto:inga@sih-webudvikling.dk">inga@sih-webudvikling.dk <i class="far fa-copy" id="copy-icon"></i></a></li>
                    <p id="copy-this">inga@sih-webudvikling.dk</p>
                </ul>
            </footer>