<!-- https://web.dev/promote-install/ -->
            <button class="install-offline hidden">Install siden til offline brug (?MB)</button>
            
            <footer id="footer">
                <ul>
                    <li><a href="https://www.linkedin.com/in/inga-helgadottir-684b39149/">Linkedin <i class="fab fa-linkedin"></i></a></li>
                    <li><a href="mailto:inga@sih-webudvikling.dk">inga@sih-webudvikling.dk</a></li>
                </ul>
            </footer>